<!DOCTYPE html>
<html ng-app="cleanUI">
  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update Profile</title>

  </head>

  <body id="reg-body">
      <%- body %>
  </body>

</html>