<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Unipaper -Update profile</title>

    <link href="cleanui/assets/common/img/favicon.144x144.png" rel="apple-touch-icon" type="image/png" sizes="144x144">
    <link href="cleanui/assets/common/img/favicon.114x114.png" rel="apple-touch-icon" type="image/png" sizes="114x114">
    <link href="cleanui/assets/common/img/favicon.72x72.png" rel="apple-touch-icon" type="image/png" sizes="72x72">
    <link href="cleanui/assets/common/img/favicon.57x57.png" rel="apple-touch-icon" type="image/png">
    <link href="cleanui/assets/common/img/favicon.png" rel="icon" type="image/png">
    <link href="favicon.ico" rel="shortcut icon">

    <!-- HTML5 shim and Respond.js for < IE9 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Vendors Styles -->
    <link rel="stylesheet" type="text/css" href="cleanui/assets/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="cleanui/assets/vendors/jscrollpane/style/jquery.jscrollpane.css">
    <link rel="stylesheet" type="text/css" href="cleanui/assets/vendors/ladda/dist/ladda-themeless.min.css">
    <link rel="stylesheet" type="text/css" href="cleanui/assets/vendors/select2/dist/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="cleanui/assets/vendors/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="cleanui/assets/vendors/fullcalendar/dist/fullcalendar.min.css">
    <link rel="stylesheet" type="text/css" href="cleanui/assets/vendors/cleanhtmlaudioplayer/src/player.css">
    <link rel="stylesheet" type="text/css" href="cleanui/assets/vendors/cleanhtmlvideoplayer/src/player.css">
    <link rel="stylesheet" type="text/css" href="cleanui/assets/vendors/bootstrap-sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="cleanui/assets/vendors/summernote/dist/summernote.css">
    <link rel="stylesheet" type="text/css" href="cleanui/assets/vendors/owl.carousel/dist/cleanui/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="cleanui/assets/vendors/ionrangeslider/css/ion.rangeSlider.css">
    <link rel="stylesheet" type="text/css" href="cleanui/assets/vendors/datatables/media/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="cleanui/assets/vendors/c3/c3.min.css">
    <link rel="stylesheet" type="text/css" href="cleanui/assets/vendors/chartist/dist/chartist.min.css">

    <!-- Clean UI Styles -->
    <link rel="stylesheet" type="text/css" href="cleanui/assets/common/css/source/main.css">

    <!-- Vendors Scripts -->
    <script src="cleanui/assets/vendors/jquery/jquery.min.js"></script>
    <script src="cleanui/assets/vendors/tether/dist/js/tether.min.js"></script>
    <script src="cleanui/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="cleanui/assets/vendors/jquery-mousewheel/jquery.mousewheel.min.js"></script>
    <script src="cleanui/assets/vendors/jscrollpane/script/jquery.jscrollpane.min.js"></script>
    <script src="cleanui/assets/vendors/spin.js/spin.js"></script>
    <script src="cleanui/assets/vendors/ladda/dist/ladda.min.js"></script>
    <script src="cleanui/assets/vendors/select2/dist/js/select2.full.min.js"></script>
    <script src="cleanui/assets/vendors/html5-form-validation/dist/jquery.validation.min.js"></script>
    <script src="cleanui/assets/vendors/jquery-typeahead/dist/jquery.typeahead.min.js"></script>
    <script src="cleanui/assets/vendors/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="cleanui/assets/vendors/autosize/dist/autosize.min.js"></script>
    <script src="cleanui/assets/vendors/bootstrap-show-password/bootstrap-show-password.min.js"></script>
    <script src="cleanui/assets/vendors/moment/min/moment.min.js"></script>
    <script src="cleanui/assets/vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="cleanui/assets/vendors/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="cleanui/assets/vendors/cleanhtmlaudioplayer/src/jquery.cleanaudioplayer.js"></script>
    <script src="cleanui/assets/vendors/cleanhtmlvideoplayer/src/jquery.cleanvideoplayer.js"></script>
    <script src="cleanui/assets/vendors/bootstrap-sweetalert/dist/sweetalert.min.js"></script>
    <script src="cleanui/assets/vendors/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
    <script src="cleanui/assets/vendors/summernote/dist/summernote.min.js"></script>
    <script src="cleanui/assets/vendors/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="cleanui/assets/vendors/ionrangeslider/js/ion.rangeSlider.min.js"></script>
    <script src="cleanui/assets/vendors/nestable/jquery.nestable.js"></script>
    <script src="cleanui/assets/vendors/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="cleanui/assets/vendors/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="cleanui/assets/vendors/datatables-fixedcolumns/js/dataTables.fixedColumns.js"></script>
    <script src="cleanui/assets/vendors/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="cleanui/assets/vendors/editable-table/mindmup-editabletable.js"></script>
    <script src="cleanui/assets/vendors/d3/d3.min.js"></script>
    <script src="cleanui/assets/vendors/c3/c3.min.js"></script>
    <script src="cleanui/assets/vendors/chartist/dist/chartist.min.js"></script>
    <script src="cleanui/assets/vendors/peity/jquery.peity.min.js"></script>

    <!-- Angular Version Scripts -->
    <!-- <script src="cleanui/assets/vendors/angular/angular.min.js"></script> -->
    <!-- <script src="cleanui/assets/vendors/angular-route/angular-route.min.js"></script> -->
    <!-- <script src="cleanui/assets/common/js/version_angular/app.js"></script> -->
    <script src="https://npmcdn.com/contentful-management@1.0.0/browser-dist/contentful-management.js"></script>
    <script type="text/javascript" src="https://oauth.io/lib/oauth.js"></script>
    <script type="text/javascript" src="cleanui/angular/libs/angular.js"></script>
    <script type="text/javascript" src="cleanui/angular/libs/angular-ui-router.js"></script>
    <script type="text/javascript" src="cleanui/angular/libs/angular-cookies.js"></script> 
    <script type="text/javascript" src="cleanui/angular/config.js"></script>
    <script type="text/javascript" src="cleanui/angular/init.js"></script>
    <script type="text/javascript" src="cleanui/angular/account/module.js"></script>
    <script type="text/javascript" src="cleanui/angular/account/run.js"></script>
    <script type="text/javascript" src="cleanui/angular/article/module.js"></script>
    <script type="text/javascript" src="cleanui/angular/article/run.js"></script>

    <!-- Clean UI Scripts -->
    <script src="cleanui/assets/common/js/common.js"></script>
    <script src="cleanui/assets/common/js/demo.temp.js"></script>
</head>
<section id="reg">
	<div class="container" style="padding-top: 60px;" id="reg-form">
	  <div class="row">
		<!-- left column -->
		<div class="col-md-4 col-sm-6 col-xs-12 upload-image">
		  <div class="text-center">
			<img src="http://lorempixel.com/200/200/people/9/" class="avatar img-thumbnail" alt="avatar">
			
			<input type="file" class="text-center center-block well well-sm">
		  </div>
		</div>
		<!-- edit form column -->
		<div class="col-md-8 col-sm-6 col-xs-12 personal-info">
		  <form class="form-horizontal" role="form">
			<div class="form-group">
			  <label class="col-lg-3 control-label"></label>
			  <div class="col-lg-8">
				<input class="form-control" value="" type="text" placeholder="Name">
			  </div>
			</div>
			<div class="form-group">
			  <label class="col-lg-3 control-label"></label>
			  <div class="col-lg-8">
				<input class="form-control" value="" type="text" placeholder="University Name">
			  </div>
			</div>
			<div class="form-group">
			  <label class="col-lg-3 control-label"></label>
			  <div class="col-lg-8">
				<input class="form-control" value="" type="text" placeholder="City">
			  </div>
			</div>
			<div class="form-group">
			  <label class="col-lg-3 control-label"></label>
			  <div class="col-lg-8">
				<input class="form-control" value="" type="text" placeholder="Email">
			  </div>
			</div>
		   
			<div class="form-group">
			  <label class="col-md-3 control-label"></label>
			  <div class="col-md-8">
				<input class="form-control" value="" type="text" placeholder="Facebook">
			  </div>
			</div>
			<div class="form-group">
			  <label class="col-md-3 control-label"></label>
			  <div class="col-md-8">
				<input class="form-control" value="" type="text" placeholder="Twitter">
			  </div>
			</div>
			<div class="form-group">
			  <label class="col-md-3 control-label"></label>
			  <div class="col-md-8">
				<textarea class="form-control" rows="3" id="comment" placeholder="About You"></textarea>
			  </div>
			</div>
			<div class="form-group">
			  <label class="col-md-3 control-label"></label>
			  <div class="col-md-8">
				<input class="btn btn-primary" value="Update Profile" type="button">
				<span></span>
				<input class="btn btn-default" value="Cancel" type="reset">
			  </div>
			</div>
		  </form>
		</div>
	  </div>
</div>
</section>
</body>
</html>