<div class="single-page-block-inner" style="margin-top: 100px;margin-left: 280px;">


<img src="images/unipaperlogo.png" >
<br>
	<form class="form-register" method="post" ng-submit="submitSignupForm()" name="userForm">

		<div class="form-group">
			<!--<input type="text" class="form-control" ng-model="vm.form.name" required placeholder="Name"> -->
		</div>

		<div class="form-group">
			<input type="email" class="form-control" ng-model="signinform.email" required placeholder="Email">
		</div>

		<div class="form-group">
			<input type="password" class="form-control password" ng-model="signinform.password" required placeholder="Password">
		</div>

		<div class="form-group">
			<input type="password" class="form-control password" ng-model="signinform.repassword" required placeholder="Re type Password">
		</div>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary width-100">Submit</button>
			<button class="btn btn-link margin-left-10" ng-click="loginform()">Signin</button>
		</div>
	</form>
</div>